html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #25224f;
  color: white;
  font-family: Arial, sans-serif;
}

table.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.user-table th {
  background-color: #411042;
}
